<!-- views/menu.xml -->
<odoo>
  <!-- 根目錄 -->
  <menuitem id="menu_parts_root" name="Parts Inventory" sequence="10"
            groups="parts_inventory.group_parts_user,parts_inventory.group_parts_manager"/>

  <!-- 子選單：Parts 清單 -->
  <menuitem id="menu_team_parts" name="Parts" parent="menu_parts_root"
            action="parts_inventory.action_parts" sequence="10"
            groups="parts_inventory.group_parts_user,parts_inventory.group_parts_manager"/>
</odoo>
